/* ===== Global ===== */
body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background: linear-gradient(135deg, #1e1e2f, #2b2b40);
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* ===== Center Layout ===== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #2f3147;
  padding: 30px;
  border-radius: 14px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* ===== Headings ===== */
h1, h2 ,h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #4fc3f7;
}

p {
  text-align: center;
  opacity: 0.85;
  margin-bottom: 25px;
}

/* ===== Link reset ===== */
a {
  text-decoration: none;
}

/* ===== Mobile friendly ===== */
@media (max-width: 480px) {
  main {
    padding: 20px;
  }
}

label input {
  display: block;
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #1e1e2f;
  color: #f1f1f1;
}

#result {
  margin-top: 20px;
  padding: 12px;
  min-height: 50px;

  background: #1e1e2f;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: bold;
  color: #4fc3f7;
}


